<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <title>mansuri4</title>
</head>
<body>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <div id="app">
        {{ message }}
        <p>
            Using text interpolation {{rawHtml}}
        </p>
        <p v-html="rawHtml">
            Using directive
        </p>
        <btn :disabled="isBtnDisabled">Click on me</btn>
    </div>

    <script type="module">
        import { createApp } from 'vue'

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    rawHtml : '<span style="color: red">here some text</span>',
                    isBtnDisabled : false,
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
