<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <title>mansuri4</title>
</head>
<body>
<script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
</script>

<div id="app">
    <p id="main" :style="styles">
        {{test}}
    </p>
    <p id="second">
        {{test}}
    </p>
</div>



<script type="module">
    import { createApp, reactive, computed, ref, onMounted} from 'vue'
    createApp({
        setup() {
            const styles = computed(() => ({
                fontSize: '20px',
                color: '#213cc1'
            }))

            const test = ref('sometest Text')

            window.styles = styles.value

            return {
                test, styles
            }
        }
    }).mount('#app')
</script>


</body>
</html>
