<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <title>mansuri4</title>
</head>
<body>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <div id="app">
        <p>its works {{test.text}}</p>
    </div>

    <script type="module">
        import { createApp, reactive } from 'vue'

        const counter = reactive({
            count: 0,
        })

        createApp({
            data() {
                return {
                    test : reactive({
                        text : 'here some pudge text'
                    })
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
